{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Huseyin Yilmaz{% if title %} - {{ title }}{% endif %}</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% stylesheet 'base' %}
      {% block extra_head %}{% endblock extra_head %}
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item {%if page == "index"%} active{%endif%}" href="/">Home</a>
          {% for b in blogs %}
            <a class="blog-nav-item{%if b == blog%} active{%endif%}" href="{% url 'blogs-list' b.slug %}">{{b.name}}</a>
          {% endfor %}
        </nav>
      </div>
    </div>

    <div class="container">
      {% block content %}{% endblock content %}
    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    {% javascript 'base' %}
    {% block extra_scripts %}{% endblock extra_scripts %}
  </body>
</html>
