{% extends "core/base.html" %}
{% load pipeline %}
{% load static %}

{% block content %}
  <!-- HEADER -->
  <header class="row">
    <div class="col-md-3">
      <img src="{% static  "/core/images/huseyin_yilmaz.png" %}"
           alt="Huseyin Yilmaz"
           class="img-circle wf"/>
    </div>
    <div class="col-md-9 page-header">
      <h1>Hello, I am Huseyin Yilmaz.</h1>
      <h4>I am a fullstack developer that focused on web projects.</h4>
    </div>
  </header>
  <!-- HEADER END -->

  <!-- FIRST ROW -->
  <div class="row">
    <div class="col-lg-3">
      <h2>Python</h2>
      <p>I have been working with python more than 8 years. Python is still my go to language for large variaty of tasks. I really appretiate the simplicity of the language.</p>
    </div>
    <div class="col-lg-3">
      <h2>Django</h2>
      <p>From session management to database migrations, django supports large variaty of tasks that is needed for any kind of project. Django's shortcomings are filled by community projects which makes django ideal for web development.</p>
    </div>
    <div class="col-lg-3">
      <h2>Javascript</h2>
      <p>Specially with the changes on ecmascript standard, I started to like javascript more and more. My frontend development stack is backbone.js, jquery, lodash, bootstrap.</p>
    </div>
    <div class="col-lg-3">
      <h2>System design</h2>
      <p>After building more and more projects, I started to enjoy thinking about system articture. I belive general structure of a project directly effects the performance of projects.</p>
    </div>
  </div>
  <!-- FIRST ROW END -->

  <!-- SECOND ROW -->
  <div class="row">
    <div class="col-lg-3">
      <h2>Open source</h2>
      <p>I built my career around opensource technologies. I believe giving back to community is very important to keep open source community healthy and strong.</p>
    </div>

    <div class="col-lg-3">
      <h2>FP</h2>
      <p>I have a strong pation for Functional programming. My interest started with common lisp and emacs lisp. Than I moved to erlang which thought me different design choices made by OTP framework. Lately, I have been working with haskell and implementing opensource utilities.</p>
    </div>

    <div class="col-lg-3">
      <h2>Testing</h2>
      <p>Like everyone else, I started to learn about testing because of necessity. After I experience working with a project that has great test coverage, I started to take it more seriously. I have a test framework for testing external APIs.</p>
    </div>

    <div class="col-lg-3">
      <h2>Deployment</h2>
      <p>It is very important to deploy, manage and monitor projects on production environment. During my career I had the distinct opportunity to deploy and monitor our production systems.</p>
    </div>
  </div>
  <!-- SECOND ROW END -->

  <!-- FIRST HALF ROW -->
  <div class="row">
    <div class="col-lg-6">
      <h2>Experience</h2>
      <ul>
        <li>Senior Software Developer at Giving Assistant, from March 2017 to present.</li>
        <li>Software Developer at Radius Inteligence, from September 2016 to February 2017.</li>
        <li>Technical Lead at redbeacon, from April 2015 to September 2016.</li>
        <li>Senior Software Developer at redbeacon, from April 2014 to April 2015.</li>
        <li>Senior Software Developer at Metglobal, from October 2012 to April 2014.</li>
        <li>Software Developer at Markafoni, from October 2010 to October 2012.</li>
        <li>Software Developer at Gerger Consulting, from August 2008 to October 2010.</li>
      </ul>
    </div>

    <div class="col-lg-6">
      <h2>Contact Information</h2>
      <ul>
      <li>Email: yilmazhuseyin@gmail.com</li>
      <li><a href="https://github.com/huseyinyilmaz" target="_blank">Github</a></li>
      <li><a href="https://stackoverflow.com/users/350127/yilmazhuseyin" target="_blank">Stack overflow</a></li>
      <li><a href="https://twitter.com/yilmaz_huseyin" target="_blank">Twitter</a></li>
      </ul>
    </div>
  </div>
  <!-- FIRST HALF ROW END -->
  <!-- SECOND HALF ROW -->
  <div class="row">
    <div class="col-lg-6">
      <h2>Education</h2>
      <ul>
        <li>Bachelor of Computer Science (4 years degree) at Kocaeli University, Turkey.</li>
        <li>ESL(English as a Second Language) Program at Rutgers University, NJ/USA.</li>
        <li>TOEFL and GRE preparation at KAPLAN Test Preparation Center, NJ/USA.</li>
        <li>ESL Program , Java, C++, Unix classes at Camden County Collage, NJ/USA.</li>
        <li>Advanced Compiler Construction and Computer Graphics on OpenGL classes at University of Delaware, USA</li>
        <li>Functional Programming Principles in Scala by Martin Odersky at coursera.</li>
        <li>Machine Learning by Andrew Ng at coursera</li>
        <li>Automata by Jeff Ullman at coursera</li>
        <li>Introduction to Functional Programming at edx</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h2>Technologies</h2>
      <ul>
        <li>Python</li>
        <li>Django</li>
        <li>Django Rest Framework</li>
        <li>Scrapy</li>
        <li>flask</li>
        <li>javascript</li>
        <li>backbone.js</li>
        <li>jquery</li>
        <li>lodash</li>
        <li>underscore</li>
        <li>webpack</li>
        <li>Erlang</li>
        <li>OTP</li>
        <li>Cowboy</li>
        <li>Haskell</li>
        <li>servant</li>
        <li>turtle</li>
        <li>
      </ul>
    </div>
  </div>
  <!-- SECOND HALF ROW END -->






{% endblock content %}
