<div class="blog-post">
  <h2 class="blog-post-title">
    <a href="{% url 'blogs-post' blog.slug object.slug %}" class="header">
      {{ object.title }}
    </a>
  </h2>
  <p class="blog-post-meta">{{ object.created|date:"j F Y" }}</p>
  <p>{{ object.content_HTML|safe }}</p>
</div><!-- /.blog-post -->
<!-- Share -->
<div class="well small">
  <footer class="post-info">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="yilmaz_huseyin">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <g:plusone></g:plusone>
  </footer>
</div>

<!-- Blog info -->
<div class="well small">
  <footer class="post-info">
    <span class="label label-primary">Date</span>
      {{ object.created|date:"j F Y" }}

    <span class="label label-primary"><i class="glyphicon glyphicon-folder-open"></i> Categories: </span>
    {% for c in object.categories.all %}
      <a href="">{{ c.name }}</a>.
    {% endfor %}

    <span class="label label-primary"><i class="glyphicon glyphicon-tags"></i> Tags: </span>
    {% for t in object.tags.all %}
      <a href="">{{ t.name }}</a>,
    {% endfor %}

  </footer><!-- /.post-info -->

</div>
