{% load static %}

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About me</h4>
    <img src="{% static  "core/images/huseyin_yilmaz.png" %}"
         alt="Huseyin Yilmaz"
         class="img-circle wf"/>

    <ol class="list-unstyled">
      <li><a href="https://github.com/huseyinyilmaz">GitHub</a></li>
      <li><a href="https://stackoverflow.com/users/350127/yilmazhuseyin">Stack overflow</a></li>
      <li><a href="https://twitter.com/yilmaz_huseyin">Twitter</a></li>
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
      {% for d in dates %}
        <li><a href="{% url 'blogs-month' blog.slug d.year d.month %}">{{ d|date:"F Y" }}</a></li>
      {% endfor %}
    </ol>
  </div>

  <div class="sidebar-module">
    <h4>Categories</h4>
    <ol class="list-unstyled">
      {% for c in categories %}
        <li>
          <a href="{% url 'blogs-category' blog.slug c.name %}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ol>
  </div>

  <div class="sidebar-module">
    <h4>Tags</h4>
    <ol class="list-unstyled">
      {% for t in tags %}
        <li>
          <a href="{% url 'blogs-tag' blog.slug t.name %}">{{ t.name }}</a>
        </li>
      {% endfor %}
    </ol>
  </div>

  <div class="sidebar-module">
    <h4>Chat with other visitors</h4>
    <p id="user_count"></p>
    <textarea id="chat_output" readonly="True" class="wf" cols="10" rows="10">Connecting to server ...</textarea>
    <br>
    <input type="INPUT" id='chat_input' class="wf">
    <br>
    <a href="www.talkybee.com/#yilmazhuseyin"
       target="_blank"
       id="talkybee_link">Not enough space to chat?</a>
  </div>
</div><!-- /.blog-sidebar -->
